{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit a Pun</title>
    <link rel="stylesheet" href="{% static 'puns/styles.css' %}">

</head>
<body>
    <div class="container">
    <h2>Submit a New Pun</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Pun</button>
    </form>
    <a href="{% url 'puns_list' %}">Back to Puns List</a>
</div>
</body>
</html>
